{% extends 'Paginas_Base/Base.html' %}

{% load static %}



{% block Content %}

<div class="container-fluid" style="background: linear-gradient(to right bottom, #f8ec81, #86da7f, rgb(104, 126, 197));">
    <div class="row">
      <div class="col-md-7 mt-5">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="10"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="11"></button>
          </div>
          <div class="carousel-inner" style="width:100%; height: 650px;">
            <div class="carousel-item active">
              <img src="{% static '/images/f1.jpeg' %}" alt="Flork1" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item ">
              <img src="{% static '/images/f2.jpg' %}" alt="flork2" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item ">
              <img src="{% static '/images/f3.jpeg' %}" alt="flork3" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item ">
              <img src="{% static '/images/f4.jpeg' %}" alt="flork4" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f5.jpeg' %}" alt="flork5" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f6.jpeg' %}" alt="flork6" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f7.jpeg' %}" alt="flork7" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f8.jpeg' %}" alt="flork8" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f9.jpeg' %}" alt="flork9" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f10.png' %}" alt="can1" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f11.png' %}" alt="can2" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
            <div class="carousel-item">
              <img src="{% static '/images/f12.png' %}" alt="can3" class="rounded mx-auto d-block" style="width: 450px; height:550px;">
            </div>
    
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
      <div class="col-md-5 mt-5 text-start d-flex justify-content-around; " >
        <div class="h5" data-aos="zoom-in" data-aos-duration="2000" style="font-family: 'Times New Roman', Times, serif;">
          <p class="h2">Contiene</p>
          <ul>
            <li>Letreros con canción para dedicar.</li>
            <li>Dulces, botanas y galletas.
            </li>
            <li>8 fotografías tipo polaroid (calidad fotográfica)</li>
            <li>Etiqueta dedicatoria personalizada.</li>
          </ul>
          <p class="h2">Medidas Aproximadas</p>
          <ul>
            <li>38 cm de alto
            </li>
            <li>28. 5 cm de ancho
            </li>
            <li>8 cm de profundidad
            </li>
          </ul>
          <p class="h2">Modelos disponibles</p>
          <ul>
            <li>Flork Ramo de 5 rosas
            </li>
            <li>Flork Ramo de 6 rosas
            </li>
            <li>Flork Ramo de Girasoles
            </li>
            <li>Flork Corazón
            </li>
            <li>Flork Cerveza
            </li>
            <li>Flork 3 rosas
            </li>
            <li>Flork Lágrimas
            </li>
          </ul>
          <p class="h2">Precios</p>
            <ul>
              
              <li>Caja: $200.00</li>
              <li>Caja Rellena: $260.00</li>
            </ul> 
            </div>
    
        </div>
      </div>
            </div>
  </div>            
  </div>

  
  <div class="container-fluid p-2" style="background-color: rgb(104, 126, 197);">
      <div class="text-center">
        <p class="h3" style="font-family:cursive;">Más modelos</p>
      </div>
  </div>

  
  <div class="container-fluid d-flex justify-content-center" style="background-color:  rgba(253, 255, 164, 0.986);">
    <div class="row">
      <div class="col-md-6 p-3 d-inline-flex justify-content-between"  data-aos="flip-left" data-aos-duration="2000">
        <img class="rounded mx-4"  src="{% static '/images/f13.jpeg' %}" alt="flor13" style="height: 200px; width:200px;">
        <img class="rounded mx-4"  src="{% static '/images/f14.jpeg' %}" alt="flor14" style="height: 200px; width:200px;">
        <img class="rounded mx-4"  src="{% static '/images/f15.jpeg' %}" alt="flor15" style="height: 200px; width:200px;">
        <img class="rounded mx-4"  src="{% static '/images/f16.jpeg' %}" alt="flor16" style="height: 200px; width:200px;">
        <img class="rounded mx-4"  src="{% static '/images/lloron.jpeg' %}" alt="flor17" style="height: 200px; width:200px;">
      </div>
    </div>
  </div>



{% endblock Content %}
    


